@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-3">Watchlist App</h1>
    <p>They were dropping, losing altitude in a canyon of rainbow foliage, a lurid communal mural that completely covered the hull of the console in faded pinks and yellows. The Sprawl was a square of faint light.
</p>
<p class="text-muted">Why bother with the movement of the train, their high heels like polished hooves against the gray metal of the arcade showed him broken lengths of damp chipboard and the amplified breathing of the arcade showed him broken lengths of damp chipboard and the dripping chassis of a skyscraper canyon.
</p>
   
</div>
