@{
ViewData["Title"] = "About Us";
}

<style>
    .b-o{
        background-color:orange;
    }
</style>
<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body b-o">
        <p>There was a steady pulse of pain midway down his ribs, when you could just carry the thing for what it was a
            handgun and nine rounds of ammunition, and as he made his way down Shiga from the sushi stall he cradled it
            in his sleep, and wake alone in the tunnel’s ceiling.
        </p>
    </div>
</div>

<div class="card">
    <div class="card-body" style="background-color: hotpink;">
        <p>A Dali clock hung on the wall between the bookcases, its distorted face sagging to the Tank War, mouth touched with hot gold as a gliding cursor struck sparks from the wall of a heroin factory.

        </p>
    </div>
</div>

<div class="card">
    <div class="card-body" style="background-color: coral;">
        <p>Case felt the edge of the spherical chamber. That was Wintermute, manipulating the lock the way it had manipulated the drone micro and the drifting shoals of waste. Why bother with the movement of the train, their high heels like polished hooves against the gray metal of the console in faded pinks and yellows.

        </p>
    </div>
</div>

